{% extends ../base.html %}

{% block title %}- Inicio{% end %}

{% block content %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section class="section section--hero">
  <div class="hero">

    <div class="hero__content slider js-hero-slider">
      <div class="hero__item slider__item">
        <article class="card-hero">
          <div class="card-hero__background h-absolute">
            {{ get_image_editor("_banner-big-home-1") }}
            <picture class="h-background">
              <source srcset="{{ read_image(site.name + '_banner-big-home-1', 200) }}" media="(max-width: 425px)">
              <source srcset="{{ read_image(site.name + '_banner-big-home-1', 500) }}" media="(max-width: 780px)">
              <source srcset="{{ read_image(site.name + '_banner-big-home-1', 500) }}" media="(max-width: 1280px)">
              <img src="{{ read_image(site.name + '_banner-big-home-1') }}" alt="">
            </picture>
          </div>

          <div class="container">
            <div class="card-hero__content">
              <h2 class="card-hero__title">
                <a href="{{ site_base }}/products?tags=cat2_caoba">Conoce nuestra nueva línea de caoba</a>
              </h2>

              <div class="card-hero__button">
                <a class="button button--primary" href="{{ site_base }}/products?tags=cat2_caoba">
                  <span class="button__text">Ver línea caoba</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="hero__item slider__item">
        <article class="card-hero">
          <div class="card-hero__background h-absolute">
            {{ get_image_editor("_banner-big-home-2") }}
            <picture class="h-background">
              <source srcset="{{ read_image(site.name + '_banner-big-home-2', 200) }}" media="(max-width: 425px)">
              <source srcset="{{ read_image(site.name + '_banner-big-home-2', 500) }}" media="(max-width: 800px)">
              <source srcset="{{ read_image(site.name + '_banner-big-home-2', 500) }}" media="(max-width: 1440px)">
              <img src="{{ read_image(site.name + '_banner-big-home-2') }}" alt="">
            </picture>
          </div>

          <div class="container">
            <div class="card-hero__content">
              <h2 class="card-hero__title">
                <a href="{{ site_base }}/products?tags=cat2_nogal">Conoce nuestra nueva línea de nogal</a>
              </h2>

              <div class="card-hero__button">
                <a class="button button--primary" href="{{ site_base }}/products?tags=cat2_nogal">
                  <span class="button__text">Ver línea nogal</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>

<section class="section section--categories h-theme-light">
  <div class="categories categories--home">
    <div class="container">

      <header class="heading heading--isotype">
        <h2 class="heading__title {{editabletext}}" text-id="{{site.name + '_home_category_title'}}">
          {{ read_text(site.name + '_home_category_title') }}
        </h2>
      </header>

      <div class="categories__content group">
        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat2_nogal">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-1") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-1', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_one'}}">
                    {{ read_text(site.name + '_home_category_one') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_one_more'}}">
                        {{ read_text(site.name + '_home_category_one_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat3_dormitorio">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-2") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-2', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_two'}}">
                    {{ read_text(site.name + '_home_category_two') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_two_more'}}">
                        {{ read_text(site.name + '_home_category_two_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat1_victoriana">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-3") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-3', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_three'}}">
                  {{ read_text(site.name + '_home_category_three') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_three_more'}}">
                        {{ read_text(site.name + '_home_category_three_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat3_escritorio">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-4") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-4', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_four'}}">
                    {{ read_text(site.name + '_home_category_four') }}
                  </h3>
                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_four_more'}}">
                        {{ read_text(site.name + '_home_category_four_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat2_caoba">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-5") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-5', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_five'}}">
                    {{ read_text(site.name + '_home_category_five') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_five_more'}}">
                        {{ read_text(site.name + '_home_category_five_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat3_estar">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-6") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-6', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_six'}}">
                    {{ read_text(site.name + '_home_category_six') }}
                </h3>
                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_six_more'}}">
                        {{ read_text(site.name + '_home_category_six_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat2_fresno">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-7") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-7', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_seven'}}">
                    {{ read_text(site.name + '_home_category_seven') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_seven_more'}}">
                        {{ read_text(site.name + '_home_category_seven_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products?tags=cat1_regencia">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-home-8") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-home-8', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text-id="{{site.name + '_home_category_eight'}}">
                    {{ read_text(site.name + '_home_category_eight') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text-id="{{site.name + '_home_category_eight_more'}}">
                      {{ read_text(site.name + '_home_category_eight_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section--times">
  <div class="times">
    <div class="container">

      <header class="heading heading--isotype">
        <h2 class="heading__title title {{editabletext}}" text-id="{{site.name + '_section_time_title'}}">
          {{ read_text(site.name + '_section_time_title')}}
        </h2>
      </header>

      <div class="times__content">
        <nav class="times-nav slider js-times-navigation">
          <a class="times-nav__item slider__item">
            <span>
              GEORGIAN
            </span>
          </a>
          <a class="times-nav__item slider__item">
            <span>
              REGENCIA
            </span>
          </a>
          <a class="times-nav__item slider__item">
            <span>
              VICTORIANO
            </span>
          </a>
          <a class="times-nav__item slider__item">
            <span>
              EDUARDIANO
            </span>
          </a>
        </nav>

        <div class="times-content slider js-times-slider">
          <div class="slider__item">
            <article class="card-time row">
              <div class="col-lg-6">
                <h3 class="card-time__title h-mobile {{editabletext}}" text-id="{{site.name + '_section_time_one_title'}}">
                  {{ read_text(site.name + '_section_time_one_title') }}
                </h3>
                {{ get_image_editor("_epocs-1") }}
                <figure class="card-time__image animation">
                  <img class="img-fluid" src="{{ read_image(site.name + '_epocs-1', 200) }}" alt="">
                </figure>
              </div>
              <div class="col-lg-6">
                <div class="card-time__content">
                  <h3 class="card-time__title h-desktop {{editabletext}}" text-id="{{site.name + '_section_time_one_title'}}">
                      {{ read_text(site.name + '_section_time_one_title') }}
                  </h3>
    
                  <div class="card-time__text h-text {{editabletext}}" text-id="{{ site.name + '_section_time_one_content' }}">
                    {{ read_text(site.name + '_section_time_one_content') }}
                  </div>

                  <div class="car-time__button">
                    <a class="button button--secondary" href="{{ site_base }}/products?tags=cat1_georgian">
                      <span class="button__text {{editabletext}}" text-id="{{ site.name + '_section_time_one_button' }}">
                        {{ read_text(site.name + '_section_time_one_button  ') }}
                      </span>
                      <i class="button__icon material-icons">keyboard_arrow_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="slider__item">
            <article class="card-time row">
              <div class="col-lg-6">
                <h3 class="card-time__title h-mobile {{editabletext}}" text-id="{{ site.name + '_section_time_two_title' }}">
                    {{ read_text(site.name + '_section_time_two_title') }}
                </h3>
                {{ get_image_editor("_epocs-2") }}
                <figure class="card-time__image animation">
                  <img class="img-fluid" src="{{ read_image(site.name + '_epocs-2', 200) }}" alt="">
                </figure>
              </div>

              <div class="col-lg-6">
                <div class="card-time__content">
                  <h3 class="card-time__title h-desktop {{editabletext}}" text-id="{{ site.name + '_section_time_two_title' }}">
                    {{ read_text(site.name + '_section_time_two_title') }}
                  </h3>

                  <div class="card-time__text h-text {{editabletext}}" text-id="{{ site.name + '_section_time_two_content' }}">
                    {{ read_text(site.name + "_section_time_two_content") }}
                  </div>

                  <div class="car-time__button">
                    <a class="button button--secondary" href="{{ site_base }}/products?tags=cat1_regencia">
                      <span class="button__text {{editabletext}}" text-id="{{ site.name + '_section_time_two_button' }}">
                          {{ read_text(site.name + '_section_time_two_button  ') }}
                      </span>
                      <i class="button__icon material-icons">keyboard_arrow_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="slider__item">
            <article class="card-time row">
              <div class="col-lg-6">
                <h3 class="card-time__title h-mobile {{editabletext}}" text-id="{{ site.name + '_section_time_three_title' }}">
                    {{ read_text(site.name + '_section_time_three_title') }}
                </h3>
                {{ get_image_editor("_epocs-3") }}
                <figure class="card-time__image animation">
                  <img class="img-fluid" src="{{ read_image(site.name + '_epocs-3', 200) }}" alt="">
                </figure>
              </div>

              <div class="col-lg-6">
                <div class="card-time__content">
                  <h3 class="card-time__title h-desktop {{editabletext}}" text-id="{{ site.name + '_section_time_three_title' }}">
                      {{ read_text(site.name + '_section_time_three_title') }}
                  </h3>

                  <div class="card-time__text h-text {{editabletext}}" text-id="{{ site.name + '_section_time_three_content' }}">
                      {{ read_text(site.name + "_section_time_three_content") }}
                    </div>

                  <div class="car-time__button">
                    <a class="button button--secondary" href="{{ site_base }}/products?tags=cat1_victoriana">
                      <span class="button__text {{editabletext}}" text-id="{{ site.name + '_section_time_three_button' }}">
                          {{ read_text(site.name + '_section_time_three_button  ') }}
                      </span>
                      <i class="button__icon material-icons">keyboard_arrow_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="slider__item">
            <article class="card-time row">
              <div class="col-lg-6">
                <h3 class="card-time__title h-mobile {{editabletext}}" text-id="{{ site.name + '_section_time_four_title' }}">
                    {{ read_text(site.name + '_section_time_four_title') }}
                </h3>
                {{ get_image_editor("_epocs-4") }}
                <figure class="card-time__image animation">
                  <img class="img-fluid" src="{{ read_image(site.name + '_epocs-4', 200) }}" alt="">
                </figure>
              </div>

              <div class="col-lg-6">
                <div class="card-time__content">
                  <h3 class="card-time__title h-desktop {{editabletext}}" text-id="{{ site.name + '_section_time_four_title' }}">
                      {{ read_text(site.name + '_section_time_four_title') }}
                  </h3>

                  <div class="card-time__text h-text {{editabletext}}" text-id="{{ site.name + '_section_time_four_content' }}">
                      {{ read_text(site.name + "_section_time_four_content") }}
                  </div>

                  <div class="car-time__button">
                    <a class="button button--secondary" href="{{ site_base }}/products?tags=cat1_eduardiana">
                      <span class="button__text {{editabletext}}" text-id="{{ site.name + '_section_time_four_button' }}">
                          {{ read_text(site.name + '_section_time_four_button  ') }}
                      </span>
                      <i class="button__icon material-icons">keyboard_arrow_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section--products h-theme-light d-none" id="home__products_featured">
  <div class="products products--featured">
    <div class="container">

      <header class="heading heading--isotype">
        <h2 class="heading__title title {{editabletext}}" text-id="{{site.name + '_product_list'}}">
          {{ read_text(site.name + '_product_list')}}
        </h2>
      </header>

      <div class="products__content group row">
      </div>
      <div class="section__button">
        <a class="button button--secondary" href="{{ site_base }}/products">
          <span class="button__text">Ver todos los productos</span>
          <i class="button__icon material-icons">keyboard_arrow_right</i>
        </a>
      </div>

    </div>
  </div>
</section>

{% end %}
