.card-hero {
  background: rgba(192, 194, 199, 0.32);
  color: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 310px;
  position: relative;

  @include mq($from: medium) {
    min-height: 420px;
  }
}

.card-hero__background {
  overflow: hidden;

  picture {
    display: block;
    height: 100%;
    opacity: 0;
    position: relative;
    transform: scale3d(1.2, 1.2, 1.2);
    transition: $transition-base-in;
    width: 100%;
  }

  img {
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    position: absolute;
    right: -9999px;
    top: -9999px;
    min-width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
  }
}

.card-hero__content {
  background-color: rgba($secondary, 0.7);
  margin: 20px 0;
  max-width: 460px;
  opacity: 0;
  padding: 40px 30px;
  position: relative;
  text-align: center;
  transform: translate3d(-100px, 0, 0);
  transition: $transition-base-out;
  visibility: hidden;

  @include mq($from: medium) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include mq($from: large) {
    background-color: $secondary;
    left: 75px;
    margin: 0;
    padding: 50px;
    text-align: left;
  }
}

.card-hero__title {
  font-size: $font-size-large;
  margin: 0;
  opacity: 0;
  text-transform: uppercase;
  transition: $transition-base-out;

  @include mq($from: medium) {
    font-size: $font-size-huge;
  }

  a {
    color: inherit;
  }
}

.card-hero__button {
  margin-top: 15px;
  opacity: 0;
  transition: $transition-base-out;
}

/**
 * Animaciones
 */
.hero .slider.background-loaded .slick-slide.slick-active .card-hero__background picture {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: 1000ms ease;
}

.hero .slider.background-loaded .slick-slide.slick-active {
  .card-hero__content {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: $transition-base-in;
    visibility: visible;
  }

  .card-hero__title {
    opacity: 1;
    transition: 800ms ease 400ms;
  }

  .card-hero__button {
    opacity: 1;
    transition: 800ms ease 500ms;
  }
}
