{% extends base.html %}

{% block content %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% set editablelink = 'editablelink' %}
{% else %}
{% set editabletext = '' %}
{% set editablelink = '' %}
{% end %}

<section class="section h-theme-light">
  <div class="container">

    <nav class="mb-20" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ site_base }}">Inicio</a></li>
        <li class="breadcrumb-item active">Quiénes Somos</li>
      </ol>
    </nav>

    <article class="product product--view">
      <header class="heading heading--isotype">
        <h1 class="heading__title {{editabletext}}" text_id="{{ site.name + '_about_title' }}">
          {{ read_text(site.name + '_about_title') }}
        </h1>
        <a id="{{ site.name + '_footer_3_blue' }}" href="{{ read_link(site.name + '_footer_3_blue') }}" target="_blank">
            <img id="{{ site.name }}_footer_3_blue" src="{{ read_image(site.name + '_footer_3_blue', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_footer_3_blue',200) }}'" class="img-foot-red" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_3_blue' }}" content="{{ read_link(site.name + '_footer_3_blue') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" ">
        {% end %}
      </header>
      <div class="h-max-width-content h-mx-auto {{editabletext}}" text_id="{{ site.name + '_about_content' }}">
        {{ read_text(site.name + '_about_title') }}
      </div>
    </article>

  </div>
</section>

<section class="section section--categories h-theme-light">
  <div class="categories categories--about">
    <div class="container">

      <header class="heading heading--isotype">
        <h3 class="heading__title {{editabletext}}" text_id="{{ site.name + '_about_category_title' }}">
          {{ read_text(site.name + '_about_category_title') }}
        </h3>
      </header>

      <div class="categories__content group slider row justify-content-center js-categories-slider">
        <div class="group__item slider__item col-12 col-lg-4 col-xl-3">
          <article class="card-category animation js-background">
            <a class="{{editablelink}}" href="{{ read_link(site.name + '_category_one_link') }}" id="{{site.name + '_category_one_link'}}">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-about-1") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-about-1', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text_id="{{ site.name + '_about_category_one' }}">
                    {{ read_text(site.name + '_about_category_one') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text_id="{{ site.name + '_about_category_one_more' }}">
                        {{ read_text(site.name + '_about_category_one_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        
        <div class="group__item slider__item col-12 col-lg-4 col-xl-3">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products">
              <div class="card-category__background h-absolute">
                  {{ get_image_editor("_banner-small-about-2") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-about-2', 200) }}" alt="">
                </figure>
              </div>
              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text_id="{{ site.name + '_about_category_two' }}">
                  {{ read_text(site.name + '_about_category_two') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text" text_id="{{ site.name + '_about_category_two_more' }}">
                        {{ read_text(site.name + '_about_category_two_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>

        <div class="group__item slider__item col-12 col-lg-4 col-xl-3">
          <article class="card-category animation js-background">
            <a href="{{ site_base }}/products">
              <div class="card-category__background h-absolute">
                {{ get_image_editor("_banner-small-about-3") }}
                <figure class="h-background">
                  <img class="img-fluid" src="{{ read_image(site.name + '_banner-small-about-3', 200) }}" alt="">
                </figure>
              </div>

              <div class="card-category__content">
                <h3 class="card-category__title {{editabletext}}" text_id="{{ site.name + '_about_category_three' }}">
                    {{ read_text(site.name + '_about_category_three') }}
                </h3>

                <div class="car-category__button">
                  <div class="button button--primary">
                    <span class="button__text {{editabletext}}" text_id="{{ site.name + '_about_category_three_more' }}">
                        {{ read_text(site.name + '_about_category_three_more') }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>

      <div class="section__button">
        <a class="button button--secondary" href="{{ site_base }}/products">
          <span class="button__text">Ver todos los productos</span>
          <i class="button__icon material-icons">keyboard_arrow_right</i>
        </a>
      </div>

    </div>
  </div>
</section>
{% end %}
