{% extends base.html %}

{% block content %}
  <section class="section section--products h-theme-light">
    <div class="products products--list" data-page="1">
      <div class="container">

        <nav class="products__breadcrumb" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site_base }}/">Inicio</a></li>
            <li class="breadcrumb-item active">Todos</li>
          </ol>
        </nav>

        <div class="row">
          <div class="col-lg-3">
            <input id="tag_string" type="hidden" value=""/>
            <aside class="products__filters">
              <div class="filters-heading h-mobile">
                <p><strong>Todos los productos</strong> <span>32 productos</span></p>
              </div>

              <p class="label--small h-desktop">Filtros</p>

              <button class="filters-toggle button js-toggle-filters">
                <span class="button__text">Ver filtros</span>
                <i class="button__icon"></i>
              </button>

              <div class="filters-group js-filters-group">
                <div class="filters filters--applied h-mobile">
                  <p class="label--small">Haz seleccionado</p>

                  <div class="applied-filters">
                  </div>

                  <button class="applied-filters__clean button" type="button">
                    <span class="empty_filters button__text label--small">Eliminar filtros</span>
                  </button>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#epocaFilters" aria-expanded="false" aria-controls="epocaFilters">Época</a>
                  </h4>

                  <div class="collapse" id="epocaFilters">
                    <div class="filters__group">
                      <div class="filter custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cat1_georgian">
                        <label class="custom-control-label" for="cat1_georgian">Georgian</label>
                      </div>

                      <div class="filter custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cat1_regencia">
                        <label class="custom-control-label" for="cat1_regencia">Regencia</label>
                      </div>

                      <div class="filter custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cat1_victoriana">
                        <label class="custom-control-label" for="cat1_victoriana">Victoriana</label>
                      </div>

                      <div class="filter custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cat1_eduardiana">
                        <label class="custom-control-label" for="cat1_eduardiana">Eduardiana</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#pensadoFilters" aria-expanded="false" aria-controls="pensadoFilters">Pensado para</a>
                  </h4>

                  <div class="filters__group collapse" id="pensadoFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_dormitorio">
                      <label class="custom-control-label" for="cat3_dormitorio">Dormitorio</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_pasillo">
                      <label class="custom-control-label" for="cat3_pasillo">Pasillo</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_accesos">
                      <label class="custom-control-label" for="cat3_accesos">Accesos</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_comedor">
                      <label class="custom-control-label" for="cat3_comedor">Comedor</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_estar">
                      <label class="custom-control-label" for="cat3_estar">Sala de estar</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat3_escritorio">
                      <label class="custom-control-label" for="cat3_escritorio">Escritorio</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#maderaFilters" aria-expanded="false" aria-controls="maderaFilters">Tipo de madera</a>
                  </h4>

                  <div class="filters__group collapse" id="maderaFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_alcanfor">
                      <label class="custom-control-label" for="cat2_alcanfor">Alcanfor</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_caoba">
                      <label class="custom-control-label" for="cat2_caoba">Caoba</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_encina">
                      <label class="custom-control-label" for="cat2_encina">Encina</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_fresno">
                      <label class="custom-control-label" for="cat2_fresno">Fresno</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_haya">
                      <label class="custom-control-label" for="cat2_haya">Haya</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_nogal">
                      <label class="custom-control-label" for="cat2_nogal">Nogal</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_pino">
                      <label class="custom-control-label" for="cat2_pino">Pino</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_olmo">
                      <label class="custom-control-label" for="cat2_olmo">Olmo</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat2_satinwood">
                      <label class="custom-control-label" for="cat2_satinwood">Satinwood</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#formaFilters" aria-expanded="false" aria-controls="formaFilters">Forma</a>
                  </h4>

                  <div class="filters__group collapse" id="formaFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_cuadrada">
                      <label class="custom-control-label" for="cat5_cuadrada">Cuadrada</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_costados-abatiles">
                      <label class="custom-control-label" for="cat5_costados-abatiles">Costados Abatiles</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_curvo">
                      <label class="custom-control-label" for="cat5_curvo">Curvo</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_frente-curvo">
                      <label class="custom-control-label" for="cat5_frente-curvo">Frente curvo</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_octagonal">
                      <label class="custom-control-label" for="cat5_octagonal">Octagonal</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_ovalada">
                      <label class="custom-control-label" for="cat5_ovalada">Ovalada</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_rectangular">
                      <label class="custom-control-label" for="cat5_rectangular">Rectangular</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_redonda">
                      <label class="custom-control-label" for="cat5_redonda">Redonda</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat5_triangular">
                      <label class="custom-control-label" for="cat5_triangular">Triangular</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#respaldoFilters" aria-expanded="false" aria-controls="respaldoFilters">Respaldo</a>
                  </h4>

                  <div class="filters__group collapse" id="respaldoFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat7_pasillos-torneados">
                      <label class="custom-control-label" for="cat7_pasillos-torneados">Pasillos torneados</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat7_tipo-escalera">
                      <label class="custom-control-label" for="cat7_tipo-escalera">Tipo escalera</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#tiradorFilters" aria-expanded="false" aria-controls="tiradorFilters">Tirador de cajón</a>
                  </h4>

                  <div class="filters__group collapse" id="tiradorFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat8_torneadas-madera">
                      <label class="custom-control-label" for="cat8_torneadas-madera">Torneadas madera</label>
                    </div>

                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat8_tiradores-de-bronce">
                      <label class="custom-control-label" for="cat8_tiradores-de-bronce">Tiradores de bronce</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#matequeriaFilters" aria-expanded="false" aria-controls="matequeriaFilters">Maquetería</a>
                  </h4>

                  <div class="filters__group collapse" id="matequeriaFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat4_madera-frutal">
                      <label class="custom-control-label" for="cat4_madera-frutal">Madera frutal</label>
                    </div>
                  </div>
                </div>

                <div class="filters js-filters">
                  <h4 class="filters__label">
                    <a class="collapsed" data-toggle="collapse" data-target="#asientoFilters" aria-expanded="false" aria-controls="asientoFilters">Asiento</a>
                  </h4>

                  <div class="filters__group collapse" id="asientoFilters">
                    <div class="filter custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat6_rafia">
                      <label class="custom-control-label" for="cat6_rafia">Rafia</label>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>

          <div class="col-lg-9">
            <div class="products__toolbar toolbar">
              <div class="toolbar__setup">
                <div class="toolbar_products">
                  <p><strong>Todos los productos</strong> - <span>32 productos</span></p>
                </div>

                <div class="toolbar__order order-products">
                  <label class="order-products__label" for="productsOrder">Ordenar por</label>

                  <select class="order-products__select" id="productsOrder" data-dropup-auto="false">
                    <option value="featured" selected>Destacados</option>
                    <option value="priceAsc">Precios de menor a mayor</option>
                    <option value="priceDesc">Precios de mayor a menor</option>
                    <option value="date">Nuevos productos</option>
                  </select>
                </div>
              </div>

              <div class="toolbar__applied">
                <p class="label--small">Haz seleccionado</p>

                <div class="applied-filters">
                </div>

                <button class="applied-filters__clean button" type="button">
                  <span class="empty_filters button__text label--small">Eliminar filtros</span>
                </button>
              </div>
            </div>

            <div class="group row" id="products-list">
            </div>

            <nav class="products__pagination">
              <p class="text-center">
                <button class="button button--action px-5" id="products-load-more">
                  <span class="button__text">Cargar más</span>
                </button>
              </p>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </section>
{% end %}
